.weatherRandom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.10);
    padding: 20px 0px;
    border-radius: 20px;
    width: 200px;
    transition-property: all;
    transition-duration: .2s;

    &__tempContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    &__temp{
        font-size: 30px;
        color: white;
        font-weight: 900;
        text-align: center;
    }

    &__city{
        font-size: 18px;
        color: white;
        font-weight: 500;
    }

    &__weather{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__maxContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__max{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__min{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__day{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__icon{
        width: 50px;
    }
}

.weatherRandom:hover{
    transition-property: all;
    transition-duration: .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}