.weatherCity{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 50px 0px;
    gap: 50px;
    // height: 400px;

    &__searchContainer{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
    }

    &__week{
        display: flex;
        gap: 50px;
    }

    &__title{
        font-size: 30px;
        color: white;
        font-weight: 300;
    }

    &__input{
        border-radius: 20px 0px 0px 20px;
        border: none;
        padding: 10px 20px;
        width: 300px;
        outline: none;
    }

    &__button{
        border: none;
        border-radius: 0px 20px 20px 0px;
        padding: 10px 20px;
        width: 100px;
        background: rgb(43,67,153);
        color: white;
        cursor: pointer;
    }

    &__tempMaxMinContainer{
        display: flex;
        gap:  15px;
    }

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.10);
        padding: 30px 0px;
        border-radius: 20px;
        width: 30%;
    }

    &__icon{
        width: 180px;
    }

    &__tempContainer{
        display: flex;
        gap: 10px;
    }

    &__weatherContainer{
        display: flex;
        gap: 10px;
    }

    &__windContainer{
        display: flex;
        gap: 10px;
    }

    &__cityContainer{
        display: flex;
        gap: 10px;
    }

    &__temp{
        font-size: 40px;
        color: white;
        font-weight: 900;
    }
    
    &__tempMax{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__tempMin{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__description{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__wind{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__speed{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__country{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__city{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &Week{

    &__container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    &__cards{
            display: flex;
            gap: 10px;
        }

    &__title{
            font-size: 30px;
            color: white;
            font-weight: 300;
            margin: 50px 0px 20px 0px;
        }
    }
    
}

.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-color: pink;
}

.hidden{
    display: none;
}