.division{
    width: 90%;
    border: solid 1px white;
    opacity: 20%;
    margin: 0px auto;
}
.weatherCity{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: rgb(119,97,255);
    background: linear-gradient(90deg, rgba(119,97,255,1) 0%, rgba(141,128,255,1) 56%, rgba(164,160,255,1) 100%);
    min-height: 70vh;

    &__random{
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &Title{
            font-size: 40px;
            color: yellow;
            font-weight: 300;
            margin-bottom: 15px;
        }
    }

    &__containerRandom{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &Info{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }

    &__searchContainer{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 100px 0px 50px 0px;
    }

    &__week{
        display: flex;
        gap: 50px;
    }

    &__title{
        font-size: 30px;
        color: white;
        font-weight: 300;
    }

    &__input{
        border-radius: 20px 0px 0px 20px;
        border: none;
        padding: 10px 20px;
        width: 300px;
        outline: none;
    }

    &__button{
        border: none;
        border-radius: 0px 20px 20px 0px;
        padding: 10px 20px;
        width: 100px;
        background: #18266D;
        color: white;
        cursor: pointer;
    }

    &__tempMaxMinContainer{
        display: flex;
        gap:  15px;
        margin-top: 10px;
    }

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.10);
        padding: 30px 40px;
        border-radius: 20px;
        gap: 30px;
        transition-property: all;
        transition-duration: .2s;
        width: 400px;
        margin: 0px auto;
    }

    &__icon{
        width: 140px;
    }

    &__tempContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__weatherContainer{
        display: flex;
        gap: 10px;
        margin: 10px 0px 0px 0px;
    }

    &__windContainer{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        margin: 5px 0px;
    }

    &__temp{
        font-size: 50px;
        color: white;
        font-weight: 900;
    }
    
    &__tempMax{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__tempMin{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__description{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__windIcon{
        width: 35px;
    }

    &__speed{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__country{
        font-size: 20px;
        color: white;
        font-weight: 300;
    }

    &__city{
        font-size: 30px;
        color: white;
        font-weight: 300;
    }

    &Week{

        &__container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

        &__cards{
                display: flex;
                gap: 20px;
            }

        &__title{
                font-size: 40px;
                color: white;
                font-weight: 300;
                margin-bottom: 15px;
            }
    }
    
}

.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px;
    background-color: pink;
}

.hidden{
    display: none;
}

.weatherCity__container:hover{
    transition-property: all;
    transition-duration: .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}