.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: rgb(43,67,153);
    padding: 30px 0px;

    &__menu{
        display: flex;
        gap: 50px;
    }

    &__title{
        color: white;
        font-size: 30px;
        font-weight: 900;
    }

    &__listItem{
        list-style: none;
        color: white;
        font-weight: lighter;
        font-size: 15px;
        cursor: pointer;
    }
}