.weatherCityCard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.10);
    padding: 20px 20px;
    border-radius: 20px;
    width: 100px;

    &__day{
        font-size: 25px;
        color: white;
        font-weight: 500;
        text-align: center;
    }

    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__temp{
        font-size: 15px;
        color: white;
        font-weight: 300;
        text-align: center;

        &Container{
            width: 90%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__maxContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    &__max{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__min{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__day{
        font-size: 15px;
        color: white;
        font-weight: 300;
    }

    &__icon{
        width: 50px;

        &Container{
            width: 90%;
            height: 50px;
            display: flex;
            flex-direction:  column;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
        }
    }
}